{% extends "base.html.twig" %}

{% block css %}
{% stylesheets '@AppBundle/Resources/views/Public/CSS/base.css' %}
<link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
{% endstylesheets %}
{% endblock %}

{% block body %}

    {{ parent() }}

    {{  form_start(form) }}
    {# render the task's only field: description #}
    {{ form_row(form.dateVisit) }}
    {{ form_row(form.fullDayTickets) }}
    {{ form_label(form.email) }}
    {{ form_widget(form.email) }}
    {#<div class="alert-danger">#}

        {{ form_errors(form.email, {'attr': {'class': 'alert alert-danger'}}) }}

    {#</div>#}
    <div class="alert-danger">
        {{ form_errors(form)}}
    </div>


    <h3>Visiteur(s)</h3>
    <ul class="visitors list-unstyled" data-prototype="{{ form_widget(form.visitors.vars.prototype)|e('html_attr') }}">

        {% for visitor in form.visitors %}

            <ul class="list-unstyled">
            <li>{{ form_row(visitor.firstName) }}</li>
            <li>{{ form_row(visitor.lastName) }}</li>
            <li>{{ form_row(visitor.birthday) }}</li>
            <li>{{ form_row(visitor.country) }}</li>
            <li>{{ form_row(visitor.discount) }}</li>
            </ul>

        {% endfor %}
    </ul>

    {{ form_end(form) }}




    <script   src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
    <script   src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script>
    var $collectionHolder;

    // setup an "add a Visitor" link
    var $addVisitorLink = $('<a href="#" class="add_visitor_link">Ajouter un visiteur</a>');
    var $newLinkLi = $('<li></li>').append($addVisitorLink);

    jQuery(document).ready(function() {

    // Get the ul that holds the collection of Visitors
    $collectionHolder = $('ul.visitors');

    // add the "add a Visitor" anchor and li to the Visitors ul
    $collectionHolder.append($newLinkLi);

    // count the current form inputs we have (e.g. 2), use that as the new
    // index when inserting a new item (e.g. 2)
    $collectionHolder.data('index', $collectionHolder.find(':input').length);

    $addVisitorLink.on('click', function(e) {
    // prevent the link from creating a "#" on the URL
    e.preventDefault();

    // add a new Visitor form (see next code block)
    addVisitorForm($collectionHolder, $newLinkLi);
    });
    });


    function addVisitorForm($collectionHolder, $newLinkLi) {
        // Get the data-prototype explained earlier
        var prototype = $collectionHolder.data('prototype');

        // get the new index
        var index = $collectionHolder.data('index');

        // Replace '__name__' in the prototype's HTML to
        // instead be a number based on how many items we have
        var newForm = prototype.replace(/__name__/g, index);

        // increase the index with one for the next item
        $collectionHolder.data('index', index + 1);

        // Display the form in the page in an li, before the "Add a Visitor" link li
        var $newFormLi = $('<li></li>').append(newForm);
        $newLinkLi.before($newFormLi);
    }

</script>


{% endblock %}

{% block style %}

{% endblock %}

