{% extends "base.html.twig" %}

{% block css %}

{% stylesheets 'bundles/app/css/base.css' filter="cssrewrite"%}
<link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
{% endstylesheets %}
{% endblock %}


{% block body %}




    <div class="parallax" style="background-image: url('{{ asset('bundles/app/images/Louvre.jpg') }}')">

        <div class="overlay">
            <div class="text-center titre">
                <h1>Bienvenue sur la billeterie en ligne du <strong>musée du Louvre</strong></h1>
            </div>

        </div>

    </div>



    <div class="yellow-rectangle text-center">
        <div class="intro">
            Bénéficiez en quelques clics où que vous soyez à toute la gamme de billets du musée du Louvre
        </div>
    </div>

    <div>

    </div>

    {#EXPLICATION DES ÉTAPES À SUIVRES#}

    <div class="container-fluid conteneeur">
        <div class="row red row1">
            <div class="col-lg-12 col-sm-12">
                <div class="vline"></div>
                <div class="row">
                    <div class="blue col-lg-11 col-sm-11 innerblue row">
                        <div class="col-lg-12 col-sm-12 green">
                            <div class="col-xs-2 yellow">
                                <div class="round"><span>1</span></div>
                            </div>
                            <div class="col-xs-10 yellow texte">
                                <p>
                                    <span>PREMIÈRE ÉTAPE</span><br>
                                    Choisissez la date de votre visite puis renseignez le champ email avec votre adresse électronique.<br>
                                    Cliquez sur "Ajouter un visiteur" pour ajouter un visiteur à votre commande ou "supprimer"<br> pour le supprimer. Une fois satisfait, cliquez sur "Continuer".
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-12 col-sm-12 green">
                            <div class="col-xs-2 yellow">
                                <div class="round"><span>2</span></div>
                            </div>
                            <div class="col-xs-10 yellow texte">
                                <p>
                                    <span>DEUXIÈME ÉTAPE</span><br>
                                    Vérifiez que le récapitulatif correspond bien à votre commande. Pour effectuer une modification, cliquez sur "Modifier".<br class="modifier">
                                    Si vous êtes satisfait, cliquez sur "Payer". Vous seront alors demandées vos coordonnées bancaire. Le paiement alors traité en toute sécurité grâce au serivice de paiement Stripe.
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-12 col-sm-12 green">
                            <div class="col-xs-2 yellow">
                                <div class="round"><span>3</span></div>
                            </div>
                            <div class="col-xs-10 yellow texte">
                                <p>
                                    <span>DERNIÈRE ÉTAPE</span><br>
                                    Rendez-vous sur votre messagerie électronique. Vous avez reçu email de confirmation contenant le récapitulatif de votre commande. Celui-ci fait office de billet pour tous les visiteurs.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {#FIN DE L'EXPLICATION DES ÉTAPES À SUIVRE#}



    {#<div class="container-fluid">#}
        {#<div class="row">#}

            {#<div class="col-sm-12 col-md-4 col-md-push-8 formblock">#}
                {#<div class="tarifs col-sm-12">#}

                    {#<p>#}
                        {#<span class="text-center">TARIFS</span><br>#}
                        {#<ul>#}
                            {#<li>O à 4 ans    -  gratuit</li>#}
                            {#<li>4 à 12 ans   -  8 €</li>#}
                            {#<li>12 À 60 ans  -  16 €</li>#}
                        {#</ul>#}
                    {#</p>#}
                {#</div>#}
                {#<div class="horaires col-sm-12">#}
                    {#<p class="ouverture text-center">#}
                        {#<span>OUVERTURE</span><br>#}
                        {#Ouvert du tous les jours de 9h à 18h à l'excéption du mardi ainsi que du 1er novembre et du 25 décembre.#}
                    {#</p>#}
                {#</div>#}

            {#</div>#}
            {#<div class="col-sm-12 col-md-4 col-md-pull-8 formblock">#}

                {#<div class=" col-sm-12">#}

                   {#FFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFF#}





                    {#FFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFF#}


                {#</div>#}
            {#</div>#}
        {#</div>#}


    {#</div>#}







      {% for flashMessage in app.session.flashBag.get('insuffisant') %}
      {{ flashMessage }}
      {% endfor %}


<div class="container-fluid">

    <div class="row">


        <div class="col-md-4 col-sm-12 partie-info">
            <div class="col-xs-12 aaa">
                <div class="note-prix panel panel-default">
                    <div class="panel-heading text-center">TARIFS</div>
                    <div class="panel-body">
                        <ul class="text-center">
                            <li>De O à 4 ans    -  gratuit</li>
                            <li>De 4 à 12 ans   -  8 €</li>
                            <li>De 12 À 60 ans  -  16* €</li>
                            <li>À partir de 60  -  12</li>
                        </ul>
                        <div class="panel-footer text-center">*10 € pour les militaires, le personnel du musée ainsi que les employés du ministère de la culture
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 bbb">
                <div class="note-horaires panel panel-default">
                    <div class="panel-heading text-center">OUVERTURE</div>
                    <div class="panel-body text-center">
                    Ouvert du tous les jours de 9h à 18h à l'excéption du mardi ainsi que du 1er novembre et du 25 décembre.
                    </div>
                </div>
            </div>
        </div>



        <div class="col-md-8 col-sm-12 col-  le-formulaire">

        {{  form_start(form) }}
        {#render the task's only field: description#}
        {{ form_row(form.dateVisit) }}
        {{ form_row(form.fullDayTickets) }}
        {{ form_label(form.email) }}
        {{ form_widget(form.email) }}
        <div class="alert-danger">

            {{ form_errors(form.email, {'attr': {'class': 'alert alert-danger'}}) }}

        </div>
        <div class="alert-danger">
            {{ form_errors(form)}}
        </div>


        <h3>Visiteur(s)</h3>
        <ul class="visitors list-unstyled" data-prototype="{{ form_widget(form.visitors.vars.prototype)|e('html_attr') }}">

            {% for visitor in form.visitors %}

                <ul class="list-unstyled new-visitor">
                    <li>{{ form_row(visitor.firstName) }}</li>
                    <li>{{ form_row(visitor.lastName) }}</li>
                    <li>{{ form_row(visitor.birthday) }}</li>
                    <li>{{ form_row(visitor.country) }}</li>
                    <li>{{ form_row(visitor.discount) }}</li>
                </ul>

            {% endfor %}
        </ul>

        {{ form_end(form) }}



        </div>



     </div>

</div>




<script   src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
<script   src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script>
    var $collectionHolder;

    // setup an "add a Visitor" link
    var $addVisitorLink = $('<a href="#" class="add_visitor_link">Ajouter un visiteur</a>');
    var $newLinkLi = $('<li></li>').append($addVisitorLink);

    jQuery(document).ready(function() {

    // Get the ul that holds the collection of Visitors
    $collectionHolder = $('ul.visitors');

     // add a delete link to all of the existing tag form li elements
     $collectionHolder.find('.new-visitor').each(function() {
         addTagFormDeleteLink($(this));
      });

    // add the "add a Visitor" anchor and li to the Visitors ul
    $collectionHolder.append($newLinkLi);

    // count the current form inputs we have (e.g. 2), use that as the new
    // index when inserting a new item (e.g. 2)
    $collectionHolder.data('index', $collectionHolder.find(':input').length);

    $addVisitorLink.on('click', function(e) {
    // prevent the link from creating a "#" on the URL
    e.preventDefault();

    // add a new Visitor form (see next code block)
    addVisitorForm($collectionHolder, $newLinkLi);
    });
    });

    function addTagFormDeleteLink($tagFormLi) {
        var $removeFormA = $('<a href="#">Supprimer ce visiteur</a>');
        $tagFormLi.append($removeFormA);

        $removeFormA.on('click', function(e) {
            // prevent the link from creating a "#" on the URL
            e.preventDefault();

            // remove the li for the tag form
            $tagFormLi.remove();
        });
    }

    function addVisitorForm($collectionHolder, $newLinkLi) {
        // Get the data-prototype explained earlier
        var prototype = $collectionHolder.data('prototype');

        // get the new index
        var index = $collectionHolder.data('index');

        // Replace '__name__' in the prototype's HTML to
        // instead be a number based on how many items we have
        var newForm = prototype.replace(/__name__/g, index);

        // increase the index with one for the next item
        $collectionHolder.data('index', index + 1);

        // Display the form in the page in an li, before the "Add a Visitor" link li
        var $newFormLi = $('<li></li>').append(newForm);
        $newLinkLi.before($newFormLi);

        // add a delete link to the new form
        addTagFormDeleteLink($newFormLi);
    }

</script>

    <script>
        $(function() {

            $(window).resize(function () {
                var viewportWidth = $(window).width();
                var viewportHeight = $(window).height();
                console.log(viewportHeight);
                console.log(viewportWidth);
                if(viewportWidth < 1120) {
                    $(".modifier").remove();
                }

            });

            $('.glyphicon-exclamation-sign').removeClass();
            $('.has-error').removeClass();
        });

    </script>

{% endblock %}


{% block style %}

{% endblock %}