{% extends "base.html.twig" %}

{% block css %}
{% stylesheets 'bundles/app/css/base.css' 'bundles/app/css/visitorForm.css' filter="cssrewrite"%}
<link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
<link rel="stylesheet" href="{{ asset_url }}" type="text/css" />

    {% endstylesheets %}
{% endblock %}

{% block body %}

    {{ parent() }}


    <div class="container-fluid recap-container">
    <div class="row">
        <section class="col-xs-12">
            {#<h3 class="titre-recap">Récapitulatif de vos achats</h3>#}

        </section>

         <div class="container-fluid">
             <div class="panel">
                 <div class="panel-heading">Votre commande</div>
                    <div class="panel-body panel-2">
                        <table class="table table-hover">
                            <tr>
                                <td>Email</td>
                                <td>{{ model.email }}</td>
                            </tr>
                            <tr>
                                <td>Date de visite</td>
                                <td>{{ model.dateVisit|date("d/m/Y") }}</td>
                            </tr>
                            <tr>
                                <td>Journée complète</td>
                                <td>{% if model.fullDayTickets %}
                                        Oui
                                    {% else %}
                                        Non
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td>Prix total</td>
                                <td>{{ model.totalAmount }}</td>
                            </tr>
                        </table>
                    </div>
             </div>


             {% for visitors in model.visitors %}
             <div class="panel">
                 <div class="panel-heading">{{ visitors.firstName }}</div>
                 <div class="panel-body panel-2">


                         <table class="table table-hover">
                             <tr>
                                 <td>Nom</td>
                                 <td>{{ visitors.lastName }}</td>
                             </tr>
                             <tr>
                                 <td>Prénom</td>
                                 <td>{{ visitors.firstName }}</td>
                             </tr>
                             <tr>
                                 <td>Date de naissance</td>
                                 <td>{{ visitors.birthday|date("d/m/Y") }}</td>
                             </tr>
                             <tr>
                                 <td>Journée complète</td>
                                 <td>{% if visitors.discount %}
                                         Oui
                                     {% else %}
                                         Non
                                     {% endif %}
                                 </td>
                             </tr>
                             <tr>
                                 <td>Prix du billet</td>
                                 <td>{{ visitors.getTicketPrice}}</td>
                             </tr>
                         </table>




                 </div>
             </div>
             {% endfor %}


             <button id="customButton">Payer</button>
             <a href="{{ path('show_command_form') }}"><button>Modifier</button></a>
         </div>

         </div>
    </div>



















    <script src="https://checkout.stripe.com/checkout.js"></script>



    <script>
        var handler = StripeCheckout.configure({
            email: 'tony.malto@fg.com',
            key: 'pk_test_pu05lfMC3K11Qp0f8K80IpD1',
            image: 'https://stripe.com/img/documentation/checkout/marketplace.png',
            locale: 'auto',
            token: function(token) {
                // You can access the token ID with `token.id`.
                // Get the token ID to your server-side code for use.
                $('#stripeToken').val(token.id);
                $('#myForm').submit();
            }
        });

        var amount = (function(){
            var rawAmount = {{ model.totalAmount }};
            var stripeAmount = rawAmount.toString() + '00';
            return parseInt(stripeAmount);
        })();

        document.getElementById('customButton').addEventListener('click', function(e) {
            // Open Checkout with further options:
            handler.open({
                name: 'Billeterie du Louvre',
                description: 'Données de paiement',
                zipCode: true,
                currency: 'eur',
                amount: amount
            });
            e.preventDefault();
        });

        // Close Checkout on page navigation:
        window.addEventListener('popstate', function() {
            handler.close();
        });
    </script>

    <form id="myForm" action="{{ path('process_payment') }}" method="POST">
        <input type="hidden" id="stripeToken" name="stripeToken"/>
    </form>


{% endblock %}
