{% extends "base.html.twig" %}

{% block css %}
{% stylesheets '@CommandBundle/Resources/views/Asset/CSS/base.css' %}
<link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
{% endstylesheets %}
{% endblock %}

{% block body %}

    {{ parent() }}


    <div class="row">
        <h3 class="col-xs-12"><span class="label label-success">1</span>Sélectionner la date de votre visite ainsi que le nombre de visiteurs</h3>
        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

        {# Les erreurs générales du formulaire. #}
        {{ form_errors(form) }}

        {# Génération du label + error + widget pour un champ. #}
        <div class="form-group">
        {{ form_row(form.dateVisit) }}
        </div>

        <div class="form-group">
            {{ form_row(form.numberOfVisitors) }}
        </div>

        {# Génération automatique des champs pas encore écrits.
           Dans cet exemple, ce serait le champ CSRF (géré automatiquement par Symfony !)
           et tous les champs cachés (type « hidden »). #}
       {{ form_rest(form) }}

        {# Fermeture de la balise <form> du formulaire HTML #}
        {{ form_end(form) }}
    </div>




{% endblock %}

{% block style %}

{% endblock %}

